footer.section.onepage
            .footer_block
                .footer_link_block
                    ul
                        li.wtht_mrkr
                            a(href="#")
                                img(src="img/footer-logo.png", alt="")
                        li
                            .tel
                                a(href="tel:88127023637")
                                    span (812)
                                    |  702 36 37
                        li
                            a(href="mailto:test@test.ru") info@dymohodvulkan.ru
                        li.copyright © 2016 ООО «Дымоход»
                        
                    ul
                        li О заводе
                        li 
                            a(href="#") Технологии
                        li 
                            a(href="#") Где купить
                        li 
                            a(href="#") Сертификаты
                        li 
                             a(href="#") Выставки награды
                        li 
                             a(href="#") Объекты
                        li 
                            a(href="#") Стать диллером
            
                    ul
                        li Каталог
                        li 
                            a(href="#") Двустенные
                        li 
                            a(href="#") Одностенные
                        li 
                            a(href="#") Овальные
                        li 
                            a(href="#") Коксиальные
                        li 
                            a(href="#") Колективные
                        li 
                            a(href="#") Аксессуары
                        li 
                            a(href="#") Выставочные стенды
                    ul
                        li Услуги
                        li 
                            a(href="#") Монтаж
                        li 
                            a(href="#") Проектирование
                    ul
                        li Поддержка
                        li 
                            a(href="#") Вопрос/ответ
                        li 
                            a(href="#") Статьи/блог
                        li 
                            a(href="#") Инструкции, сертификаты
                        li 
                            a(href="#") Обои для рабочего стола
                        li 
                            a(href="#") Видео
                        li 
                            a(href="#") Контакты
                            
//- bower:js
script(src='components/swiper/dist/js/swiper.js')
script(src='components/jquery/jquery.js')
script(src='components/scrollreveal/dist/scrollreveal.js')
script(src='components/letteringjs/jquery.lettering.js')
script(src='components/textillate/jquery.textillate.js')
script(src='components/waypoints/lib/noframework.waypoints.js')
script(src='components/skrollr/src/skrollr.js')
script(src='components/jquery.easing/js/jquery.easing.js')
script(src='components/magnific-popup/dist/jquery.magnific-popup.js')
//- endbower
script(src='components/isotope/dist/isotope.pkgd.min.js')
script(src='components/mixitup/dist/mixitup.min.js')
script(src="js/all.min.js")