head
        meta(charset="UTF-8")
        title Дымоход Дымок
        meta(charset="UTF-8")
        //- meta(name="viewport",content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1")
        meta(name="viewport",content="width=device-width,width=1280")

        meta(name="description",content="Предоставление услуг связи")
        meta(name="news_date",content="2016-05-01",scheme="YYYY-MM-DD")
        //- meta(name="identifier",content="0-2345-6634-6",scheme="ISBN")
        meta(name="keywords",content="HTML,CSS,XML,JavaScript")
        meta(name="author",content="lum.ru")
        script(src='https://cdn.jsdelivr.net/pace/1.0.2/pace.min.js')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/pace/1.0.2/themes/yellow/pace-theme-flash.css")
        //- script(src='../../dist/js/paceoptions.min.js')

        //- main css link
        link(rel="stylesheet", href="css/main.css")
        //- bower:css
        link(rel='stylesheet', href='components/swiper/dist/css/swiper.css')
        link(rel='stylesheet', href='components/animate.css/animate.css')
        link(rel='stylesheet', href='components/magnific-popup/dist/magnific-popup.css')
        //- endbower