header.section.header.onepage

            video(autoplay,muted,loop,poster="img/PRESENTATION.png")
                source(src="img/PRESENTATION.mp4",type="video/mp4")
                source(src="img/PRESENTATION.webm",type="video/webm")
                source(src="img/PRESENTATION.ogv",type="video/ogg")

            .header_filter
            .top_line
                .tel
                    a(href="tel:88127023637")
                        span (812)
                        |  702 36 37
                .menu_logo#menu_logo
                    ul.mainmenu_items
                        li.current
                            a(href="index.html") Главная
                        li
                            a(href="video.html") Видео
                        li.left-to-right
                            a(href="about.html") О компании
    
                    ul.mainmenu_items
                        li
                            a(href="faq.html") Вопрос-Ответ
                        li
                            a(href="projectdev.html") Проектировка
                        li
                            a(href="stati.html") Статьи
                a.button.button__yellow_d.button__yellow_d_lightfont.header_button_margin(href="#") стать дилером
            .h_content
                a(href="/dist/").main_logo
                    img(src="img/logo.png", alt="")
                .slogan#slogan Официальный сайт завода-изготовителя модульных дымоходов «Вулкан»
                a.button.button__white связаться с нами

            .for_what.section
                .for_what_block
                    a(href="#")
                        .for_what_block__dishover
                            img(src="img/customers_image.png", alt="")
                            span Для частных клиентов
                        .for_what_block__hover
                            span Для частных клиентов
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

                .for_what_block
                    a(href="#")
                        .for_what_block__dishover
                            img(src="img/prom_image.png", alt="")
                            span Для промышленных объектов
                        .for_what_block__hover
                            span Для промышленных объектов
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

                .for_what_block
                    a(href="#")
                        .for_what_block__dishover
                            img(src="img/heat_image.png", alt="")
                            span Поквартирное отопление
                        .for_what_block__hover
                            span Поквартирное отопление
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
