.pagination
    a(href="#").pagination_prev предыдущая
    ul.pagination_links
        li
            a(href="#") 1

        li.pagination_links_current
            a(href="#") 2
        li
            a(href="#") ...
        li
            a(href="#") 36
    a(href="#").pagination_next следующая