<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug

    body#fullpage
        include ./includes/main_header.pug

        .full_width.full_width__light
            .main_width
                .section.ctalog_widgets
                    .header_block
                        .header_block_descr Дымоходы
                        .header_block_name Каталог продукции

                        a(href="#").button.button__yellow_d.button__yellow_d_darkfont.sliderbtn_pos Весь каталог

                    .catalog_block
                        .catalog_block_item
                            img(src="img/2catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item
                            img(src="img/3catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item
                            img(src="img/4catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item
                            img(src="img/4catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item.catalog_block_item__long
                            img(src="img/6catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item
                            img(src="img/5catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .catalog_block_item
                            img(src="img/4catimage.png", alt="")
                            .catalog_block_item_content
                                .catalog_block_item_name двустенные/сендвич
                                .catalog_block_item_descr дымоходы
                                a(href="#").button.button__circled
                        .gutter_catalog
                        .catalog_sizer

        .full_width
            .section
                .prefers#prefer(data-0-start="background-position:0 -100px;",data-0-end="background-position:0 200px;")
                    .middle_heading.middle_heading__light
                        img(src="img/svg/mini_logo.svg", alt="").middle_heading_mini_logo
                        .middle_heading_descr наши преимущества
                        .middle_heading_name Дымоход Вулкан
                        .middle_heading_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo |commodo. Proin sodales pulvinar tempor.
                    .prefers_counters
                        .prefers_counters_1
                            .prefer_counter
                                span 50
                            .prefer_name лет гарантии
                            .prefer_content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                
                        .prefers_counters_2
                            .prefer_counter >
                                span 17
                            .prefer_name лет на рынке
                            .prefer_content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

                        .prefers_counters_3
                            .prefer_counter
                                span 100
                                |%
                            .prefer_name преимущество
                            .prefer_content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    a(href="#").button.button__yellow_d.button__yellow_d_lightfont узнать подробнее
        
        .full_width.full_width__light
            .section
                .main_width.where_buy#where_buy
                    .middle_heading.middle_heading__dark
                        img(src="img/svg/mini_logo_dark.svg", alt="").middle_heading_mini_logo
                        .middle_heading_descr адреса
                        .middle_heading_name где купить
                    
                    .column_lists
                        .column_list
                            .column_list_name
                                ul
                                    li
                                        span.icon.baloon_icon_mini
                                        span.column_list_text
                                            b САНКТ-ПЕТЕРБУРГ
                                    li
                                        span.icon
                                        span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                                    li
                                        span.icon.phone_icon
                                        span.column_list_text 
                                            b Тел. 
                                            a(href="tel:000000") +7 (812) 702 36 37
                                    li
                                        span.icon.clock_icon
                                        span.column_list_text
                                            b Режим работы: 
                                            |пн. - пт. 10:00 - 19:00
                                    li
                                        span.icon.mail_icon
                                        span.column_list_text 
                                            b E-mail: 
                                            a(href="mailto") info@dymohodvulkan.ru

                        .column_list
                            .column_list_name
                                ul
                                    li
                                        span.icon.baloon_icon_mini
                                        span.column_list_text
                                            b МОСКВА

                                    li
                                        span.icon
                                        span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                                    li
                                        span.icon.phone_icon
                                        span.column_list_text 
                                            b Тел. 
                                            a(href="tel:000000") +7 (812) 702 36 37
                                    li
                                        span.icon.clock_icon
                                        span.column_list_text
                                            b Режим работы: 
                                            |пн. - пт. 10:00 - 19:00
                                    li
                                        span.icon.mail_icon
                                        span.column_list_text 
                                            b E-mail: 
                                            a(href="mailto") info@dymohodvulkan.ru

                        .column_list
                            .column_list_name
                                ul
                                    li
                                        span.icon.baloon_icon_mini
                                        span.column_list_text
                                            b УЛЬЯНОВСК

                                    li
                                        span.icon
                                        span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                                    li
                                        span.icon.clock_icon
                                        span.column_list_text
                                            b Режим работы: 
                                            |пн. - пт. 10:00 - 19:00
                                    li
                                        span.icon.mail_icon
                                        span.column_list_text 
                                            b E-mail: 
                                            a(href="mailto") info@dymohodvulkan.ru

                        .column_list
                            .column_list_name
                                ul
                                    li
                                        span.icon.baloon_icon_mini
                                        span.column_list_text
                                            b РОСТОВ НА ДОНУ

                                    li
                                        span.icon
                                        span.column_list_text 199155, Санкт-Петербург, ул. Уральская, 10, к.2, ЛИТ А, пом. 16Н.
                                    li
                                        span.icon.clock_icon
                                        span.column_list_text
                                            b Режим работы: 
                                            |пн. - пт. 10:00 - 19:00
                                    li
                                        span.icon.mail_icon
                                        span.column_list_text 
                                            b E-mail: 
                                            a(href="mailto") info@dymohodvulkan.ru


        .full_width.full_width__light
            .section
                .overlay(onClick="style.pointerEvents='none'")
                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8016.243509838737!2d30.491625850000002!3d59.84812915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1485512768773",width="100%",height="639",frameborder="0",style="border:0",allowfullscreen).map_search
                .main_width.position_absolute
                    .map_searchblock
                        img(src="img/map_searchblock.png", alt="")
                        .map_searchblock_name Найдите ближайший к Вам магазин
                        input(type="text",placeholder="Введите название города").map_searchblock_input

        .full_width.full_width__light
            .main_width
                .swiper_block.news_slider.section
                    .header_block
                        .header_block_descr важные события компании
                        .header_block_name новости
                        .swiper_block_slider_nav
                            .swiper_block_slider_nav_prev
                            .swiper_block_slider_nav_next
                        a(href="#").button.button__yellow_d.button__yellow_darkfont.sliderbtn_pos Все новости
                    .swiper_block_slider.swiper-wrapper
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                                |Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus quis cupiditate laboriosam, aliquam, nulla sed illo voluptatum eum, quia, rerum distinctio. Nesciunt quas veritatis tempore, unde voluptatum sapiente quo neque, minus odit fugit sit possimus rerum sequi ratione officiis.
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                        .swiper_block_slide.swiper_block_slide_light.swiper-slide
                            a(href="#")
                                img(src="img/news.png", alt="")
                            .swiper_date 01/09/2017
                            a(href="#").swiper_block_name Lorem ipsum dolor sit amet consectetur adipiscing elit
                            .swiper_block_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.



        include ./includes/footer.pug
